<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFSQLZOO4.Properties.Settings.UdemysqlDBConnectionString"
            connectionString="Data Source=LAPTOP-K5B3I0HL\UDEMYSQL;Initial Catalog=UdemysqlDB;Persist Security Info=True;User ID=sa;Password=x6j7tcrcnkfv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>